.footer
  &-wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-size: 1.428rem
    text-align: center