.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  background-color: $dark
  padding: 24px 0
.menu
  display: flex
  justify-content: space-between
  align-items: center
.logo
  font-size: 1rem
  font-family: Futura Demi
  font-weight: 500
  line-height: 1.142rem
  color: $primary
  text-transform: uppercase
.nav
  margin-left: 1rem
  &__item
    font-family: Futura Book
    font-style: normal
    font-weight: normal
    line-height: 1.142rem
    color: $light
    text-decoration: none
    text-transform: uppercase
    margin-right: 2.65rem
    transition: color 0.2s
    &:hover
      color: $primary
.phone
  font-size: 1rem
  line-height: 1.142rem
  color: $primary
.contacts
  &__phone
    margin-right: 3.04rem
  &__button
    padding-right: 2rem
    max-width: 11.5rem
    max-height: 2.642rem